@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: oklch(0.22213 0 0);
    --text-muted: oklch(0.6901 0 0);
    --text-hover: oklch(0.30557 0 0);
    --background: #fff;
    --background-secondary: oklch(0.9821 0 0);
    --primary: #8dc8e8;
    --border: oklch(0 0 0 / 5%);

    --font-mono:
      var(--font-mono), "Roboto Mono", "SF Mono", Monaco, "Cascadia Code",
      Consolas, "Courier New", monospace;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  html[data-iframe] {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html[data-iframe]::-webkit-scrollbar {
    @apply hidden;
  }

  body {
    @apply bg-background antialiased leading-6 font-sans text-base text-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    @apply font-medium;
  }
}

@layer components {
  .link-hover {
    @apply text-text-muted;
    @apply underline underline-offset-2 transition-opacity duration-200;
  }

  .link-hover:hover {
    @apply text-text-hover transition-colors duration-200;
  }

  p {
    @apply mt-3 leading-6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  small {
    @apply text-xs text-text-muted font-normal ml-auto;
  }

  a {
    @apply text-text-muted hover:text-text-hover underline underline-offset-2 transition-colors duration-200;
  }

  pre code {
    @apply text-xs leading-[18px] font-mono;
  }

  code {
    @apply px-1.5 text-xs rounded-md border font-mono border-border bg-secondary;
  }

  pre code {
    @apply px-0 border-0 bg-transparent;
  }

  ul {
    @apply mt-3 space-y-2;
  }

  li {
    @apply leading-6;
  }

  kbd {
    @apply font-mono bg-secondary border-border px-1.5 text-xs rounded-md border;
  }

  .table-wrapper {
    @apply w-full overflow-x-auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-wrapper table {
    @apply table-auto mt-4 text-sm border-collapse min-w-[600px] w-max;
  }

  .table-wrapper th:first-child,
  .table-wrapper td:first-child {
    @apply w-auto min-w-[140px];
  }

  .table-wrapper th:last-child,
  .table-wrapper td:last-child {
    @apply w-auto min-w-[250px];
  }

  @screen md {
    .table-wrapper {
      @apply overflow-x-visible;
    }

    .table-wrapper table {
      @apply w-full table-fixed min-w-full;
    }

    .table-wrapper th:first-child,
    .table-wrapper td:first-child {
      min-width: unset;
    }

    .table-wrapper th:last-child,
    .table-wrapper td:last-child {
      min-width: unset;
    }
  }

  table {
    @apply w-full mt-4 text-sm border-collapse table-fixed;
  }

  thead {
    @apply text-left;
  }

  th {
    @apply py-2 px-3 font-medium border-b border-border;
  }

  th:first-child {
    @apply w-[155px] pl-0 pr-0;
  }

  th:last-child {
    @apply w-[45%] pr-0 pl-0;
  }

  td {
    @apply py-3 px-3 border-b border-border align-top;
  }

  td:first-child {
    @apply pl-0 pr-0;
  }

  td:last-child {
    @apply pr-0 pl-0;
  }

  td:first-child code {
    @apply whitespace-nowrap;
  }

  tr:last-child td {
    @apply border-b-0;
  }
}

p + p,
h1 + p,
h2 + p,
.shiki + p,
h1 + .shiki,
h2 + .shiki,
h3 + .shiki,
h4 + .shiki,
h5 + .shiki,
h6 + .shiki,
p + .shiki,
h1 + h2 {
  @apply mt-3;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  @apply mt-6;
}

.shiki {
  background-color: var(--shiki-light-bg);
  @apply relative w-full px-4 py-3 overflow-x-auto border border-border rounded-lg;

  & .line {
    span {
      color: var(--shiki-light);
      @apply font-mono text-xs leading-[18px];
    }
  }

  &[data-line-numbers] {
    counter-reset: line;

    & .line:before {
      color: color-mix(in srgb, var(--shiki-light) 20%, transparent);
      content: counter(line);
      counter-increment: line;
      @apply inline-block w-3 mr-4 font-mono text-xs leading-[18px] text-right;
    }
  }

  &[data-line-numbers-max-digits="2"] {
    & > [data-line]:before {
      @apply w-5;
    }
  }

  &[data-line-numbers-max-digits="3"] {
    & > [data-line]:before {
      @apply w-7;
    }
  }

  &[data-line-numbers-max-digits="4"] {
    & > [data-line]:before {
      @apply w-9;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
