@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --background-secondary: oklch(0.9821 0 0);
    --foreground: #040404;
    --primary: oklch(0.22213 0 0);
    --muted: #fafaf9;
    --muted-foreground: rgba(4, 4, 4, 0.6);

    --secondary: #fafaf9;
    --secondary-foreground: #040404;
    --secondary-foreground-hover: oklch(0.30557 0 0);
    --border: oklch(0 0 0/5%);

    --font-mono: var(--font-mono), 'Roboto Mono', 'SF Mono', Monaco, 'Cascadia Code', Consolas, 'Courier New', monospace;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  html[data-iframe] {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html[data-iframe]::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply bg-background antialiased;
    color: oklch(0.22213 0 0);
    font-family: var(--font-sans), 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6, strong {
    @apply font-medium;
  }
}

@layer components {
  .link-hover {
    @apply underline underline-offset-2 transition-opacity duration-200;
    color: oklch(0.6901 0 0);
  }

  .link-hover:hover {
    color: var(--secondary-foreground-hover);
    transition: color .2s ease;
  }

   p {
    @apply mt-3 leading-6;
  }

   h1,h2,h3,h4,h5,h6 {
    @apply font-medium;
  }

   a {
    @apply underline underline-offset-2 transition-colors duration-200;
    color: oklch(0.6901 0 0);
  }

   a:hover {
    color: var(--secondary-foreground-hover);
  }

   pre code {
    @apply text-xs leading-[18px];
    font-family: var(--font-mono);
  }

   code {
    @apply px-1.5 text-xs rounded-md border;
    font-family: var(--font-mono);
    background-color: var(--background-secondary);
    border-color: var(--border);
  }

   pre code {
    @apply px-0 border-0 bg-transparent;
  }

   ul {
    @apply mt-3 space-y-2;
  }

   li {
    @apply leading-6;
  }

  kbd {
    @apply px-1.5 text-xs rounded-md border;
    font-family: var(--font-mono);
    background-color: var(--background-secondary);
    border-color: var(--border);
  }

}

p + p,
h1 + p,
h2 + p,
.shiki + p,
h1 + .shiki,
p + .shiki,
h1 + h2 {
  @apply mt-3;
}



* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  @apply mt-6;
}

.shiki {
  position: relative;
  width: 100%;
  padding: 12px 16px;
  overflow-x: auto;
  background-color: var(--shiki-light-bg);
  border: 1px solid var(--border);
  border-radius: 8px;

  & .line {
    span {
      font-family: var(--font-mono);
      font-size: 12px;
      line-height: 18px;
      color: var(--shiki-light);
    }
  }

  &[data-line-numbers] {
    counter-reset: line;

    & .line:before {
      display: inline-block;
      width: 12px;
      margin-right: 16px;
      font-family: var(--font-mono);
      font-size: 12px;
      line-height: 18px;
      color: color-mix(in srgb, var(--shiki-light) 20%, transparent);
      text-align: right;
      content: counter(line);
      counter-increment: line;
    }
  }

  &[data-line-numbers-max-digits="2"] {
    & > [data-line]:before {
      width: 1.25rem;
    }
  }

  &[data-line-numbers-max-digits="3"] {
    & > [data-line]:before {
      width: 1.75rem;
    }
  }

  &[data-line-numbers-max-digits="4"] {
    & > [data-line]:before {
      width: 2.25rem;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}