@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: oklch(0.22213 0 0);
    --text-muted: oklch(0.79 0 0);
    --text-hover: oklch(0.30557 0 0);
    --background: #fff;
    --background-secondary: oklch(0.9821 0 0);
    --primary: #8dc8e8;
    --border: oklch(0.93 0 0);
    --grey: oklch(0.98 0 0);
  }

  * {
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizelegibility;
    @apply border-border;
  }

  html[data-iframe] {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html[data-iframe]::-webkit-scrollbar {
    @apply hidden;
  }

  html {
    scroll-behavior: smooth;
    @apply text-text bg-background font-sans;

    body {
      @apply bg-background antialiased leading-6 font-sans text-base text-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
      @apply font-medium;
    }

    :where(h1, h2, h3, h4, h5, h6):not(:first-child):not(:last-child):not(:where(h1, h2, h3, h4, h5, h6) + :where(h1, h2, h3, h4, h5, h6)) {
      @apply mt-12;
    }

    h1 + h2,
    h2 + h2,
    h3 + h3,
    h4 + h4,
    h5 + h5,
    h6 + h6 {
      @apply mt-6;
    }

    h1 + p,
    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p {
      @apply mt-1;
    }

    p {
      @apply mt-1 leading-6;
    }

    .shiki + p,
    code + p,
    kbd + p,
    pre + p,
    samp + p,
    [data-type="table"] + p {
      @apply mt-4;
    }

    p + p:has(+ p) {
      @apply my-2;
    }

    figure,
    pre {
      @apply mt-6;
    }

    blockquote {
      @apply my-4;
    }

    small {
      @apply text-xs opacity-40 font-normal ml-auto;
    }

    a {
      @apply text-text-muted hover:text-text-hover underline underline-offset-2 transition-colors duration-200;
    }

    ul {
      @apply mt-3 space-y-2;
    }

    li {
      @apply leading-6;
    }

    code {
      @apply px-1.5 text-xs rounded-md border border-border bg-secondary;
    }

    pre code {
      @apply px-0 border-0 bg-transparent text-xs leading-[18px];
    }

    .shiki, code, kbd, pre, samp {
      @apply font-mono;
      font-feature-settings: normal;
      font-variation-settings: normal;
    }

    kbd {
      @apply bg-secondary border-border px-1.5 text-xs rounded-md border;
    }

    hr {
      @apply my-6 border-border;
    }
  }
}

@layer components {
  .link-hover {
    @apply text-text-muted underline underline-offset-2 transition-opacity duration-200;
  }

  .link-hover:hover {
    @apply text-text-hover transition-colors duration-200;
  }

  .table-wrapper {
    @apply w-full overflow-x-auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-wrapper table {
    @apply table-auto mt-6 text-sm border-collapse min-w-[600px] w-max;
  }

  .table-wrapper th:first-child,
  .table-wrapper td:first-child {
    @apply w-auto min-w-[140px];
  }

  .table-wrapper th:last-child,
  .table-wrapper td:last-child {
    @apply w-auto min-w-[250px];
  }

  @screen md {
    .table-wrapper {
      @apply overflow-x-visible;
    }

    .table-wrapper table {
      @apply w-full table-fixed min-w-full;
    }

    .table-wrapper th:first-child,
    .table-wrapper td:first-child {
      min-width: unset;
    }

    .table-wrapper th:last-child,
    .table-wrapper td:last-child {
      min-width: unset;
    }
  }

}

.shiki {
  background-color: var(--shiki-light-bg);
  @apply relative grid w-full px-4 py-3 overflow-x-auto border border-border rounded-lg;

  & code {
    @apply grid;
  }

  & .line span {
    color: var(--shiki-light);
    @apply font-mono text-xs leading-[18px];
  }

  &[data-line-numbers] {
    counter-reset: line;

    & .line:before {
      color: color-mix(in srgb, var(--shiki-light) 20%, transparent);
      content: counter(line);
      counter-increment: line;
      @apply inline-block w-3 mr-4 font-mono text-xs leading-[18px] text-right;
    }
  }

  &[data-line-numbers-max-digits="2"]>[data-line]:before {
    @apply w-5;
  }

  &[data-line-numbers-max-digits="3"]>[data-line]:before {
    @apply w-7;
  }

  &[data-line-numbers-max-digits="4"]>[data-line]:before {
    @apply w-9;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}